{% extends '_base.html' %}

{% block main_area %}
    <h1>개인 상세 페이지</h1>
    <div>{{ user.username }}</div>
    <a href = "/users/logout/">로그아웃</a>
    <section>
        <ul>
                <div>
                    <h2>
                        <a href = "/posts/feeds/">{{ post.short_comment }}</a>
                    </h2>
                    <p>{{ post.review }} </p>
                    <p>{{ post.user }}</p>
                    <p>{{ post.created }}</p>
                    <p>별점</p>
                    <div class = "post-tags">
                        {% for tag in post.tags.all %}
                            <a href = "{% url 'posts:tags' tag_name=tag.name %}">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <ul>
                    {% for comment in posts.comment_set.all %}
                        <li>{{ comment.content }}</li>
                    {% endfor %}
                </ul>
            <P>수정</P>
            <P>삭제</P>
            <p>좋아요</p>    
        </ul>
    </section>
{% endblock %}