{% extends '_base.html' %}

{% block main_area %}
    <h1>개인 목록 페이지</h1>
    <!--개인 프로필 이미지-->
    <div class="user"><img src="{{ user.profile_image.url }}"></div>
    <p>{{ user.username }}</p>
    <p>{{ user.short_description }}</p>
    <a href = "/users/logout/">로그아웃</a>

    <!--개인 팔로워/팔로잉 수-->
    <div class = "counts">
        <dl>
            <dt>게시글</dt>
            <dd>
                <a href = "{% url 'posts:feeds' %}">{{ user.post_set.count }}</dd></a>
            <dt>Followers</dt>
            <dd>
                <a href = "{% url 'users:followers' user_id=user.id %}">{{ user.followers.count }}</dd></a>
            <dt>Following</dt>
            <dd>
                <a href = "{% url 'users:following' user_id=user.id %}">{{ user.following.count }}</dd></a>
        </dl>
    </div>
            <!-- 글의 작성자가 로그인 한 사용자라면 팔로우 버튼을 표시하지 않는다 -->
            <!-- (자기 자신을 팔로우 하는 것을 방지) -->
            {% if user != post.user %}
            <form action = "{% url 'users:follow' user_id=user.id %}"
                method = "POST">
                {% csrf_token %}
                <button type = "submit" class = "btn btn-primary">
                    <!-- 이 Post 의 작성자가 이미 자신의 팔로잉 목록에 포함된 경우 -->
                    {% if post.user in user.following.all %}
                        Unfollow
                    <!-- 이 Post 의 작성자를 아직 팔로우하지 않은 경우 -->
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </form>
            {% endif %}
    <section>
        {% for post in posts %}
        <div>
            <h2>
                <a href = "/posts/{{post.pk}}/">{{ post.short_comment }}</a>
            </h2>
            <p>{{ post.review }} </p>
            <p>{{ post.created }}</p>
            <p>별점</p>
            <div class = "post-tags">
                {% for tag in post.tags.all %}
                    <a href = "{% url 'posts:tags' tag_name=tag.name %}">#{{ tag.name }}</a>
                {% endfor %}
            </div>
            <p>좋아요 수</p>
            <p>댓글 수</p>
        </div>
        {% endfor %}
    </section>
{% endblock %}