{% extends '_base.html' %}

{% block content %}

<div id = "tags">
    <header class = "tags-header">
        <h2>#{{ tag_name }}</h2>
        <div>게시물 {{ posts.count }}</div>
    </header>
    <div class = "post-grid-container">
        {% for post in posts %}
            <!-- Post 에 연결된 PostIamge 가 있고
            연결된 첫번째 PostIamge의 photo 가 비어있지 않은 경우 -->
            {% if post.postimage_set.first and post.postimage_set.first.photo %}
                <div class = "post-grid">
                    <a href = "{% url 'posts:post_detail' post_id=post.id %}">
                        <img src = "{{ post.postimage_set.first.photo.url }}" alt ="">
                    </a>
                </div>
            {% endif %}
            <!-- Post 에 연결된 게시물이 없는 경우 empty 로 내용 표시 -->
            {% empty %}
                <p>검색된 게시물이 없습니다</p>
        {% endfor %}
    </div>
</div>
{% endblock %}